div {
    padding:0px;
    margin:0px;
}

.content{
    padding: 5px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator{
    width: 200px;
    height:350px;
    border: solid black 2px;
    border-radius: 10px;
    background-color: grey;
    margin:0px;
    padding: 0px;
}

.screen{
    border: solid black 1px;
    height:30px;
    font-size: 24px;
    padding: 5px;
    margin:10px;
    background-color: darkslategrey;
    color:greenyellow;
    text-align: right;
}

.buttons{
    border: solid black 1px;
    margin: 10px;
    margin-top:30px;
    padding-top: 3px;
    height:220px;
    display:flex;
    flex-direction: column;
}

.button {
    border: solid;
    border-width: 1px;
    border-radius:6px;
    width: 40px;
    height:40px;
    padding:2px;
    margin:0px;
    margin-top:2px;
    margin-bottom:1px;
}

.row-one{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding:0px;
    margin:0px;
}

.row-two{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding:0px;
    margin:0px;
}

.row-three {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding:0px;
    margin:0px;
}
.row-four {
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding:0px;
    margin:0px;
}

.plus{
    height:83px;
}

.enter{
    height:83px;
}

.zero {
    width:84px;
}
